name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/ruff-action@v3
      - run: ruff format --check

  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: jidicula/clang-format-action@v4.15.0
        with:
          clang-format-version: '18'
          check-path: 'src'

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10', '3.13' ]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install OR-Tools
        run: |
          wget -O or-tools.tar.gz https://github.com/google/or-tools/releases/download/v9.12/or-tools_amd64_ubuntu-24.04_cpp_v9.12.4544.tar.gz
          tar -xzf or-tools.tar.gz
          sudo cp -r or-tools_x86_64_Ubuntu*/* /usr/local/
      - name: Install the package
        run: |
          python -m pip install --upgrade pip
          pip install --group dev .
      - name: Run tests
        run: pytest
